.job-feature-item{
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    margin-top: 30px;
    /* height: 400px; */
}

.job-feature-logo {
    width: 147px;
    height: 40px;
    border-radius: 8px;
}

.job-feature-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #474747;
}

.job-feature-name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.job-category-time, .job-location-salary {
    display: flex;
    gap: 20px;
}

.primary-btn {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #7E90FE;
    padding: 5px;
    border: 1px solid #7E90FE;
    border-radius: 4px;
}

.primary-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.view-btn{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    padding: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    /* color: #FFFFFF !important;  */
    color: #FFFFFF; 
    width: 180px;
}

