.job-details-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job-details-dec{
    padding: 20px;
}
.job-details-primary-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    text-align: left;
}

.text-bold {
    font-weight: bold;
    color: #1A1919;
    text-align: left;
}

.job-details-title-primary {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #1A1919;
}

.job-details-info{
    background-color:  rgba(152, 115, 255, 0.1) ;
    padding: 20px;
    border-radius: 8px;
    
}

.hr{
    border: 1px solid #7E90FE;
}

.apply-btn{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    padding: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    /* color: #FFFFFF !important;  */
    color: #FFFFFF; 
    width: 100%;
    margin-top: 20px;
}