.header-first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.header-title-section{
    text-align: left;
}

.header-title-first {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    color: #1A1919;

}

.header-title-first-sub {
    color: #9873FF;
}

.header-title-description {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #757575;
}

.header-first-btn {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    padding: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #FFFFFF;
    width: 180px;
}

.profile-img {
    width: 100%;
}