.review-job {
    height: 300px;
    border: 1px solid #E8E8E8;
    margin: 12px 0px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-grow: 1;
}

.review-img {
    width: 240px;
    height: 240px;
    background: #F4F4F4;
    border-radius: 8px;
    margin: 10px;
}

.review-details {
    flex-grow: 1;
}

.review-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #474747;
}

.review-company-name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #757575;
}

.review-location {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.review-salary {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.review-btn{
    margin-right: 15px;
}

/* .review-job-title-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
} */